---
import Layout from "@layouts/layout.astro";
import Section from "@components/section.astro";
import Brick from "@components/brick.astro";
import Container from "@components/container.astro";
import Score from "@components/score.astro";
import ArtBox from "@components/art-box.astro";

import computer from "../assets/bg-computer.png";

import arrow from "../assets/arrow-hero.svg";
import arrow2 from "../assets/arrow-js.svg";

import { code } from "../utils/code";

import logo1 from "../assets/logo1.svg";
import logo2 from "../assets/logo2.svg";
import logo3 from "../assets/logo3.svg";
import logo4 from "../assets/logo4.svg";
import logo5 from "../assets/logo5.svg";
import logo6 from "../assets/logo6.svg";
import logo7 from "../assets/logo7.svg";
import logo8 from "../assets/logo8.svg";

import sphere from "../assets/sphere.svg";
---

<Layout>
	<Section>
		<Container>
			<h1 class="typo-h1">
				jamstack <span class="text-red-500">101</span>
			</h1>
			<p class="typo-small">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Arcu augue
				massa, tincidunt proin nunc viverra tristique tempor, ipsum. At lectus
				vel pretium tempor ut dui vivamus sit.
			</p>
		</Container>
	</Section>

	<Section class="javascript">
		<Container>
			<h2 class="javascript-heading">javascript</h2>
			<p class="javascript-content">
				Statically generated pages are brought to life with client-side
				JavaScript libraries and frameworks, such as Algolia and Next.js.
			</p>

			<div class="computer-bg">
				<div class="computer-screen">
					<img src={computer.src} alt="Retro computer" />
					<div class="computer-terminal">
						<div class="computer-code">
							<pre><code>{code}</code></pre>
						</div>
					</div>
				</div>
			</div>

			<img src={arrow2.src} alt="Arrow" class="computer-arrow" />
		</Container>
	</Section>

	<Section class="logo">
		<Container>
			<div class="logo-grid">
				<div class="logo1">
					<img src={logo1.src} alt="Next.js logo" width="307" height="360" />
				</div>
				<div class="logo2">
					<img
						src={logo2.src}
						alt="React logo"
						class="desktop:translate-y-[62px]"
						width="383"
						height="341"
					/>
				</div>
				<div class="logo3">
					<img
						src={logo3.src}
						alt="Next.js logo"
						class="desktop:translate-y-[-113px]"
						width="307"
						height="360"
					/>
				</div>
				<div class="logo4">
					<img
						src={logo4.src}
						alt="React logo"
						class="desktop:translate-y-[14px]"
						width="383"
						height="341"
					/>
				</div>
				<div class="logo5">
					<img
						src={logo5.src}
						alt="Svelte logo"
						class="desktop:translate-y-[-32px]"
					/>
				</div>
				<div class="logo6">
					<img
						src={logo6.src}
						alt="Vue.js logo"
						class="desktop:translate-y-[-20px]"
					/>
				</div>
				<div class="logo7">
					<img
						src={logo7.src}
						alt="React logo"
						class="desktop:translate-y-[-100px]"
					/>
				</div>
				<div class="logo8">
					<img
						src={logo8.src}
						alt="Svelte logo"
						class="desktop:translate-y-[10px]"
					/>
				</div>
			</div>
		</Container>
	</Section>

	<Section class="api">
		<Container>
			<h2 class="typo-h1 text-white text-center">api</h2>
			<p class="api-content">
				At build time, a Jamstack website uses data from one or more APIs to
				generate markup. These APIs can be a headless CMS like Prismic, a
				database like Supabase, or even a local JSON file!
			</p>
		</Container>
	</Section>

	<Section class="globe">
		<img src={sphere.src} alt="Sphere" class="sphere" />
	</Section>

	<Section class="markup">
		<Container>
			<div class="flex flex-col desktop:flex-row desktop:gap-16">
				<div class="flex flex-col desktop:basis-1/2">
					<h2 class="typo-h1">markup</h2>
					<p class="markup-content">
						When ready for deployment, a static-site generator such as Astro or
						Next.js is used to compile the website. The end result is a
						collection of pre-rendered HTML pages that can be delivered
						lightning-fast over a CDN like Vercel’s Edge Network.
					</p>
				</div>

				<ArtBox class="desktop:basis-1/2" />
			</div>
		</Container>

		<div class="wall">
			<Brick
				svgClass="fill-endeavour"
				wrapperClass="absolute bottom-0 translate-y-[-35.7rem] translate-x-[-22rem] rotate-[-16.914deg]"
			/>
			<Brick
				svgClass="fill-thunderbird"
				wrapperClass="absolute bottom-0 translate-y-[-22.53rem] translate-x-[-32rem] rotate-[14.162deg] "
			/>
			<Brick
				svgClass="fill-koromiko"
				wrapperClass="absolute bottom-0 translate-y-[-23rem] translate-x-[-11rem] rotate-[-58.552deg]"
			/>

			<div class="wall-row">
				<Brick svgClass="fill-transparent" />
				<Brick svgClass="fill-endeavour" />
				<Brick svgClass="fill-koromiko" />
			</div>
			<div class="wall-row">
				<Brick svgClass="fill-thunderbird opacity-60" />
				<Brick svgClass="fill-koromiko opacity-60" />
				<Brick svgClass="fill-black opacity-60" />
				<Brick svgClass="fill-thunderbird opacity-60" />
			</div>
			<div class="wall-row">
				<Brick svgClass="fill-black opacity-30" />
				<Brick svgClass="fill-endeavour opacity-30" />
				<Brick svgClass="fill-gull-gray opacity-30" />
				<Brick svgClass="fill-endeavour opacity-30" />
				<Brick svgClass="fill-koromiko opacity-30" />
			</div>
			<div class="wall-row">
				<Brick svgClass="fill-thunderbird opacity-20" />
				<Brick svgClass="fill-koromiko opacity-20" />
				<Brick svgClass="fill-black opacity-20" />
				<Brick svgClass="fill-endeavour opacity-20" />
				<Brick svgClass="fill-koromiko opacity-20" />
				<Brick svgClass="fill-thunderbird opacity-20" />
			</div>
		</div>
	</Section>

	<Section class="bg-dark-grey">
		<Container>
			<div class="audit-card">
				<h3 class="typo-h2 text-center">top audit scores</h3>
				<div class="audit-card-ellipse-box">
					<Score>100</Score>
					<Score>100</Score>
					<Score imgClass="opacity-30">100</Score>
					<Score>100</Score>
				</div>
				<div class="audit-card-content">
					<p class="typo-body1">
						Search engines, business stakeholders, and end-users gauge
						a&nbsp;website’s value using metric tools like Google Lighthouse,
						which measures site performance, SEO, and accessibility.
					</p>
					<p class="typo-body1">
						Performance is one of the most difficult scores to get to 100. This
						is especially true in a time when users demand JavaScript-heavy,
						highly-interactive web experiences.
					</p>
					<p class="typo-body1">
						A Jamstack website, delivering SEO-friendly, lean & clean HTML in
						milliseconds, promises higher search-engine ranking and a more
						positive, responsive end-user experience.
					</p>
				</div>
			</div>
		</Container>
	</Section>
</Layout>
